@import 'clear-styles.component.scss';

// colors
$bg-color: #121414;
$section-bg-color: #1b1f22;
$main-red: #961414; //all
$main-green: #017767; //recovered
$main-yellow: rgb(231, 186, 38); //deaths
$main-blue: rgb(18, 123, 192);
$text-color: #eee;
$link-color: #a3a3a3;

//border
$border: 1px solid rgba(56, 61, 68, 0.5);

//transitions
$main-transition: all 0.3s ease;

//mixins
@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin position($position, $margin, $padding) {
  position: $position;
  margin: $margin;
  padding: $padding;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

* {
  @include position(static, 0, 0);
  box-sizing: border-box;
  outline: none;
  border: none;
  user-select: none;
  list-style: none;
  text-decoration: none;
}

body {
  @include size(100%, 100vh);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg-color;
  color: $text-color;
  display: grid;
  padding: 1em;
  grid-template-rows: max-content repeat(3, 1fr) auto;
  grid-template-columns: 1fr 3fr 2fr;
  grid-gap: 1em;
  grid-template-areas:
    "header header header"
    "info map table"
    "list map table"
    "list map graph"
    "list footer graph";
}


.header {
  grid-area: header;
  background-color: $section-bg-color;
  border: $border;

  h1 {
    font-size: 3em;
    text-align: center;
    margin: 0.5em 0;
  }

}

section {
  background-color: $section-bg-color;
  border: $border;
}

.info-container {
  grid-area: info;
  @include flex(column, center, center);

  span {
    font-size: 1.5em;
    font-weight: bold;
    color: $main-red;
  }

}

.list-container {
  grid-area: list;
  @include flex(column, flex-start, flex-start);
  @include position(static, 0, 1em);
  overflow: hidden;
  overflow-y: scroll;

  h2 {
    font-size: 1em;
    margin-bottom: 1em;
    overflow-wrap: anywhere;
  }

  #search {
    @include position(static, 0 0 1em 0, 0.5em);
    width: 100%;
  }

  ul {
    width: 100%;
  }

  li {
    @include flex(row, center, space-between);
    flex-wrap: wrap;

    .number {
      color: $main-red;
      font-weight: bold;
    }

  }

  .country-logo {
    @include size(24px, 24px);
    background: center/contain url("assets/icons/US.svg") no-repeat;
  }

}

.map-container {
  grid-area: map;
  @include flex(column, center, center);
}

.table-container {
  grid-area: table;
  @include flex(column, center, center);
}

.graph-container {
  grid-area: graph;
  @include flex(column, center, center);
}

.footer {
  grid-area: footer;
  @include flex(row, center, center);

  a,
  span {
    @include position(static, 0, 0 1em 0);
    color: $link-color;
  }

  img {
    display: block;
    @include size(100px, auto);
  }

  .rss-link {
    background-color: #961414;
  }

}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

@media (max-width: 1400px) {

  body {
    grid-template-rows: max-content repeat(3, 1fr) auto;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-areas:
      "header header header"
      "info map table"
      "list map table"
      "list map graph"
      "list footer graph";
  }

}

@media (max-width: 1024px) {

  body {
    grid-template-rows: max-content 1fr 500px 500px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header header"
      "info map"
      "list map"
      "graph table"
      "graph table"
      "footer footer";
  }

}

@media (max-width: 767.99px) {

  body {
    grid-template-rows: repeat(2, auto) repeat(4, 400px) auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "info"
      "table"
      "map"
      "list"
      "graph"
      "footer";
  }

  .info-container {
    padding: 1em;

  }

  .list-container {
    li {
      @include flex(row, center, space-evenly);
    }
  }

  .footer {
    flex-direction: column;



  }

}