#map {
  width: 100%;
  height: calc(100% - 30px);
}

.marker {
  border-radius: 100%;
  cursor: pointer;
  opacity: .8;
}

.mapboxgl-popup {
  max-width: 240px;
}

.mapboxgl-popup-content {
  background-color: $bg-color;
  border: 1px solid rgba(255, 255, 255, .3);
  color: white;
  text-align: center;
  padding: 1em;
  text-transform: capitalize;
}

.mapboxgl-popup-close-button {
  width: 20px;
  height: 20px;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
 opacity: .5;
}

.btn{
    height: 30px;
    padding: 0 1em;
    background-color: $bg-color;
}

.btn-cases{
color: $main-red;
}

.btn-deaths{
color: $main-yellow;
}

.btn-recovered{
color: $main-green;
}