#map {
  width: 100%;
  height: calc(100% - 30px);
}
.marker {
  background-color: $main-red;
  border-radius: 100%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 240px;
}

.mapboxgl-popup-content {
  color: black;
  text-align: center;
  padding: 1em;
}
